@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/*google fonts: Bangers*/

#caja {
    font-family: 'Bangers';
    color: rgb(231, 157, 19);
    text-decoration: underline;
    text-transform: uppercase;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: url("img/fondo1.jpg");
    background-attachment: fixed;
}