//VARIABLES ASIGNATION
$color-titlulo-secundario: black;
$color-caja-fondo: rgb(250, 239, 89);
$color-fondo: rgba(151, 131, 131, 0.867);
$color-letra: rgb(114, 62, 28);
$color-letra-oscura: rgba(20, 5, 1, 0.842);
$size-h3: 24px;
$size-text: 18px;

//VARIABLES USE
body {
    background-color: $color-fondo;
    color: $color-letra;
}

.clearfix {
    float: none;
    clear: both;
}

//ANIDATION
.caja {
    float: left;
    width: 20%;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid black;
    background-color: $color-caja-fondo;

    h3 {
        color: $color-titlulo-secundario;
        font-size: $size-h3;
        margin: 0;
        text-align: center;
    }

    p,
    .info {
        color: $color-letra-oscura;
        font-size: $size-text;
    }

    .info {
        label {
            display: block;
            width: 50%;
            text-align: center;
            background-color: white;
            border: 1px dotted darkolivegreen;
            font: 1rem "Fira Sans", sans-serif;
        }

        input,
        label {
            margin: 0.2rem 0;
        }
    }

    .author {
        color: #14075e;
        font-weight: bold;
    }
}

//MIXINS/FUNCTIONS -> PARAMETERIZED
@mixin crearBordes($color, $radio, $pxSombra) {
    border: 4px solid $color;
    border-radius: $radio;
    box-shadow: 0px 0px $pxSombra black;
}

.table {
    margin-top: 10px;
    background-color: #ccc;
    @include crearBordes(rgba(12, 82, 43, 0.856), 12px, 6px);
}

//OPERATORS
$boxs__wrap-width: 200px;
$box-width: 100px;

.cajas {
    width: $boxs__wrap-width;
    height: 600px;
    margin: 15px auto;
}

.caja {
    @include crearBordes(rgba(129, 47, 47, 0.61), 15px, 10px);
    width: $box-width + $boxs__wrap-width;
}

//INHERITANNCE
%alert__normal {
    width: 80%;
    margin: 15px auto;
    background-color: #eeee;
    border: 3px solid rgb(40, 40, 148);
    box-shadow: 0px 0px 4px black;
    font-size: large;
    padding-left: 10px;
}

.alert__normal {
    @extend %alert__normal;
}

.alert__red {
    @extend %alert__normal;
    border-color: rgb(110, 16, 16);
    color: rgb(110, 16, 16);
}

.alert__green {
    @extend %alert__normal;
    border-color: green;
    color: green;
}

//CONDITIONALLS
.caja h3 {
    @if ($color-titlulo-secundario == black) {
        color: rgb(47, 107, 124);
    } @else {
        color: rgb(168, 49, 49);
    }
}

//CICLE FOR
@for $contador from 1 through 2 {
    .table ul li:nth-child(#{$contador}) {
        color: orange;
        font-size: larger;
    }
}
