/*
######################SELECTORES######################
*/


/* nota: La hoja de estilo es leida por el navegador de arriba a
 abajo por ello el ultimo estilo en ser aplicado a un elemnto 
 concreto es el que predomina siempre*/


/*Selector universal*/

* {
    font-family: Arial, Helvetica, sans-serif;
}


/*Selector de etiqueta*/

h1 {
    background-color: rgba(226, 94, 120, 0.589);
    color: beige;
}

a {
    font-size: 16px;
    color: rgba(21, 196, 137, 0.863);
    text-decoration: none;
}


/*Selector compuesto
(Sobrescrito del enlace del footer)*/

footer a {
    background-color: rgba(197, 120, 68, 0.815);
    padding: 5px;
    color: aliceblue;
}


/*Selector de ID(solo sirve para un elemento al contrario del
de class)*/

#descripcion {
    border: 3px dashed chocolate;
    padding: 10px;
    margin: 10px;
}

#foot {
    border: 3px solid rgb(187, 35, 187);
    margin: 10px;
    padding: 10px;
}


/*Selector de clases*/


/*nota: Se puede poner mas de una clase dentro de un mismo atributo
class*/

.parrafo1 {
    font-style: italic;
    font-size: large;
    text-decoration: underline;
    background-color: rgba(216, 112, 147, 0.5);
}


/*Las clases pueden compartir estilos*/

.parrafo2
/*.parrafo1*/

{
    font-style: normal;
    font-size: large;
    text-decoration: underline;
    background-color: palegoldenrod;
}

.parrafo3 {
    font-style: normal;
    font-size: small;
    text-decoration: overline;
    background-color: rgba(152, 251, 152, 0.527);
}


/*Selector combinado de ID con etiqueta*/

#usuario form {
    margin: 10px;
    padding: 10px;
    border: 3px dashed rgb(59, 153, 153);
}

#usuario form * {
    display: block;
}


/*Selecto de atributo*/

input[type="text"] {
    margin-bottom: 15px;
    background-color: rgba(96, 155, 211, 0.658);
    width: 580px;
    height: 90px;
}

input[type="submit"] {
    background-color: rgb(162, 111, 209);
    color: white;
    padding: 4px;
    font-size: 16px;
    border: 2px solid blue;
    cursor: pointer;
    /*al señalar el cursor cambia a manito*/
}


/*Selector hijo*/

#target>li>a {
    color: black;
}


/*nota: La especificidad predomina sobre el orden de aparicion
  nota: !importan hace que eso predomine sobre todos los estilos*/